
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid blue;
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 1px;
  flex-wrap: wrap;
  width: 80vw;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border: 2px solid green;
  font-size: 1.4rem;
  text-align: center;
}

.byttonupdate{
  background-color: blue;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.byttonget{
  background-color: green;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.byttondelet{
  background-color: red;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.byttonadd{
  background-color: blue;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 15px;
}

.formadd{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 2px solid green;
    font-size: 1.4rem;
    text-align: center;
} 