.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    font-family: 'Mali', cursive;
    color: #e7eeec;
    background-color:  rgb(238, 195, 139);
  }
 
  .list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    width: 50vw;
    font-family: 'Mali', cursive;
    
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Mali', cursive;
    border-radius: 10px;
  }
  
  .byttonupdate{
    background-color:#4caf65;;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Mali', cursive;
  }

  .byttonget{
    background-color: green;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Mali', cursive;
  }

  .byttondelet{
    background-color: red;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Mali', cursive;
  }

  .byttonadd{
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    margin-top: 15px;
    font-family: 'Mali', cursive;
  }

  .formadd{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 5px;
      padding: 5px;
    
      font-size: 16px;
      text-align: center;
      font-family: 'Mali', cursive;
      border-radius: 5px;
      align-items: center;
      color: rgb(0, 0, 0);
      
  }