.button-get{
  background-color: green;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  font-family: 'Mali', cursive;
}
.button-delete{
  background-color: red;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Mali', cursive;
}
.button-update{
  background-color: blue;
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Mali', cursive;
}
.button-add{
  background-color: blue;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  margin-top : 15px;
  font-family: 'Mali', cursive;
}
.edit-button{
  margin-top : 20px;
  font-family: 'Mali', cursive;
}
.list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 1px;
  flex-wrap: wrap;
  width: 80vw;
  font-family: 'Mali', cursive;
}
.container {
min-height: 100vh;
padding: 0 0.5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

font-family: 'Mali', cursive;
color: #6bd3b9;
background-color: rgb(53, 50, 50);
}
.listItem {
display: flex;
flex-direction: column;
margin: 20px;
padding: 10px;
border: 2px solid green;
font-size: 1.4rem;
text-align: center;
font-family: 'Mali', cursive;
border-radius: 25px;
box-shadow: 0 10px 16px 0 rgb(174, 230, 129), 0 6px 20px 0 rgba(241, 237, 237, 0.973);
}
.form-add{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border: 2px solid green;
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Mali', cursive;
}